:root {
  --main-color: #2e2f42;
  --secondary-color: #434455;
  --third-color: #fff;
  --herobutton-bckgnd-color: #4d5ae5;
  --portfolio-btns-bckgnd-color: #f4f4fd;
  --portfolio-border-color: #e7e9fc;
  --hover-focus-color: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-color);
  background-color: var(--third-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

/* *--------------------HEADER------------------------- */

.header {
}

.header-navigation {
}

.header-logo {
  color: var(--herobutton-bckgnd-color);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-span {
  color: var(--main-color);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-menu {
}

.header-menu-item {
}

.header-menu-link {
  color: var(--main-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--hover-focus-color);
}

.header-address {
  font-style: normal ;
}

.header-address-list {
}

.header-address-item {
}

.header-address-link {
  color: var(--secondary-color);
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--hover-focus-color);
}

/* *--------------------MAIN------------------------- */

.hero-section {
  background-color: #2e2f42;
}

.hero-section-title {
  color: var(--third-color);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-button {
  color: var(--third-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--herobutton-bckgnd-color);
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background: var(--hover-focus-color);
}

/* *--------------------ADVANTAGES------------------------- */

.advantages {
}
.advantages-section-list {
}
.list {
}
.advantages-list {
}
.advantages-subtitle {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.advantages-text {
  color: var(--secondary-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* *--------------------WHAT ARE WE DOING------------------------- */

.doing-section {
}

.doing-section-title {
  color: var(--main-color);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.doing-list {
}
.doing-list-item {
}

/* *--------------------OUR TEAM------------------------- */

.our-team-section {
  background-color: var(--portfolio-btns-bckgnd-color);
}
.team-section-title {
  color: var(--main-color);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-list {
}
.team-section-item {
  background-color: var(--third-color);
}
.team-section-subtitle {
  color: var(--main-color);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-section-text {
  color: var(--secondary-color);
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* *--------------------PORTFOLIO------------------------- */

.portfolio-filter-buttons {
}
.portfolio-btns-list {
}
.portfolio-btns-item {
}
.portolio-btns {
  color: var(--herobutton-bckgnd-color);
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--portfolio-btns-bckgnd-color);
  border: 1px solid var(--portfolio-border-color);
  cursor: pointer;
}

.portolio-btns:hover,
.portolio-btns:focus {
  color: var(--third-color);
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--hover-focus-color);
}

.developments-list {
}

.develops-list-item {
}
.develops-item-link {
}

.develop-list-imgs {
}
.develops-subtitle {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.develops-subtitle-text {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* *--------------------FOOTER------------------------- */

.footer {
  background-color: #2e2f42;
}
.footer-logo {
  color: var(--herobutton-bckgnd-color);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-span {
  color: var(--portfolio-btns-bckgnd-color);
  font-size: 18px;
  font-family: Raleway;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  cursor: pointer;
}

.footer-text {
  color: var(--portfolio-btns-bckgnd-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
